@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {
    --SoftRed: hsl(10, 79%, 65%);
    --Cyan: hsl(186, 34%, 60%);
    -DarkBrown: hsl(25, 47%, 15%);
    -MediumBrown: hsl(28, 10%, 53%);
    --Cream: hsl(27, 66%, 92%);
    -VeryPaleOrange: hsl(33, 100%, 98%);
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
}
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}